*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section{
  max-width: 1170px;
  height: 665px;
  padding: 0 15px;
  margin: auto;
}

.title{
  max-width: 1170px;
  height: 150px;
  position: relative;
}

.title_text{
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.line{
  width: 170px;
  border: 1px solid #EC7979;
  justify-content: center;
  margin: 0 auto;
}

.text_section{
  max-width: 1169px;
  height: 21px;
  margin: 30px 0;
}

.subtitle_text{
  color: #86878B;
}

.block_cart{
  margin-top: 70px ;
  display: flex;
  justify-content: space-between;
}

.cart{
  max-width: 370px;
  height: 383px;
  margin: 0 10px;
}

.headline{
  max-width: 369px;
  height: 100px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
 }

.cart_text{
  max-width: 370px;
  height: 105px;
  display: flex;
  overflow: hidden;
  }

.text{
  font-size: 18px;
  line-height: 21px;
}

.title_text,.text{
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
}

.title_text,.cart,.text{
  text-align: center;
}

.title_text, .headline,.cart_text{
  color: #000000;
}